* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background-color: lightgray;
    margin: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
  }

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(153, 34, 34); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
    
}

.nav-list a:hover {
    background: #C0C0C0;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #627388 0%, #181719 100%);
}

.project-section {
    text-align: center;
    padding: 5rem 2rem;
    background: #627388;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #627388;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }

  .contact-details:hover {
    transform: translateY(8px);
  }

.project-tile img {
    width: 20rem;
}

h1 {
    font-size: 4rem;
    color: white;
}

@media screen and (max-width: 28.75em) {
    .contact-links {
        flex-direction: column;
    }
}