* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background-color: lightgray;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
background-color: rgb(153, 34, 34);    
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
    
}

.nav-list a:hover {
    background: #C0C0C0;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #333f4d 0%, #181719 100%);
}

.project-tile img {
    width: 20rem;
}

h1 {
    font-size: 4rem;
    color: white;
}