* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background-color: lightgray;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
background-color: rgb(153, 34, 34);    
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: #45567d;
}

.project-tile img {
    width: 20rem;
}