* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(/star-wars-api/photos/background.png);
}

.header{
    display:flex;
    justify-content: center;
    padding: 50px;
}

.header{
    font-family: 'Robo' , sans-serif;
    color: #be2e5a;
    font-size: 80px;
}

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

button{
    font-size: 30px;
    color: rgb(223, 237, 238);
    background-color: rgb(63, 58, 87);
    border-radius: 4px;
}

button:hover{
    background-color: rgb(178, 175, 209);
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

figure img {
    max-height: 16rem;
    padding: 8px;
}

figcaption{
    color: #be2e5a;
    background-color: rgb(66, 0, 189);
    text-align: center;
    position: relative;
    top: -30px;
    width: 184px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Death Star', Verdana;
    color: rgba(255, 255, 255, 0.76);
}

@font-face {
    font-family: "Death Star";
    src: url(death_star) format("oft"); 
  }

.mainHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure img {
    max-height: 14rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;

}

figcaption {
    display: flex;
    justify-content: center;
}